.coinIcon {
  display: inline-block;
  margin-right: 2px;
  position: relative;
  top: -1px;
  line-height: 0;
  vertical-align: middle;
}

.coinIcon svg {
  display: block;
  vertical-align: middle;
}

.small {
  font-size: 0.85em;
}

.medium {
  font-size: 1em;
}

.large {
  font-size: 1.2em;
}
